n8n/ticket-intake-llm.workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-intake-llm",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "23fcd5d1-d32a-4ae6-96b6-12ff992e3af9",
      "name": "Webhook",
      "webhookId": "421e648d-99f7-4dc6-a48a-48b0b9e61248"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/ticket-intake",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "customer_name",
              "value": "={{ $json.body.customer_name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "d2f86c09-ce13-4515-ac41-add941a9f325",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "30677220-cfa9-4baa-b279-a053cbb51d0d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "78ea9f0f-7680-4fa2-9cc7-d938155cf32e",
  "meta": {
    "instanceId": "f936f7f058f6bfca1ba711bdaab174e86235483f889908e931ff571c289e070a"
  },
  "id": "npnlOF4c2pulCuee",
  "tags": []
}